<form action="/signup" method="POST">

   <label> Email
      <input type="text" name="email">
   </label>

   <label> Password
      <input type="password" name="password">
   </label>

   <label> FullName
      <input type="text" name="fullName">
   </label>

   <button type="submit">Submit</button>
</form>

{{#if errorMessage}}
   {{errorMessage}}
{{/if}}